@import url("https://fonts.googleapis.com/css?family=Muli");

html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    font-family: "Muli", sans-serif;
    margin: 0;
    padding: 0;
}


header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    transform-style: inherit;
    z-index: -1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(images/1.jpg) top center;
    background-size: cover;
    transform: translateZ(-2px) scale(3.1);
    min-height: 100%;
    z-index: -2;
}

section {
    position: relative;
    width: 100%;
    position: relative;
    transform-style: inherit;
}

.second-image {
    min-height: 100vh;
}

.article {
    background: #ffffff;
    box-shadow: 0 0 20px #333;
    z-index: 1;
}

.article-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

}

.title {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateZ(-1px) scale(2) translate(-25%, -25%);
    display: inline-block;
    letter-spacing: 2px;
    color: #ff4769;
    font-size: 110px;
    font-family: "Muli", sans-serif;
    text-shadow: -4px 4px hsla(0, 0%, 70%, 0.4), -3px 3px hsla(0, 0%, 60%, 0.2),
        -2px 2px hsla(0, 0%, 70%, 0.2), -1px 1px hsla(0, 0%, 70%, 0.2),
        0 0 hsla(0, 0%, 50%, 0.5), 1px -1px hsla(0, 0%, 30%, 0.6),
        2px -2px hsla(0, 0%, 30%, 0.7), 3px -3px hsla(0, 0%, 32%, 0.8),
        4px -4px hsla(0, 0%, 30%, 0.9), 5px -5px hsla(0, 0%, 30%, 1);
}

.title::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -25px;
    width: 50px;
    height: 30px;
    border-top: 5px solid #ff4769;
    border-left: 5px solid #ff4769;
}

.title::after {
    content: "";
    position: absolute;
    bottom: -10%;
    right: -25px;
    width: 50px;
    height: 30px;
    border-bottom: 5px solid #ff4769;
    border-right: 5px solid #ff4769;
}

h2 {
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ff4769;
    font-family: "Muli", sans-serif;
}

.section-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.first-section {
    flex-basis: 950px;
    margin: 0;
    padding: 0;
}

.second-section {
    width: 400px;
    height: auto;
    background-image: url(images/3.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
}


.intro-img {
    width: 335px;
    height: auto;
    margin: 0;
    padding: 5px 2% 20px 3%;
}

.article-text {
    font-size: 18px;
    color: #666666;
    margin: 0;
    padding: 0 3% 20px 3%;

}

blockquote {
    font-size: 18px;
    display: block;
    margin: 0 auto;
    padding: 3%;
    font-family: "Muli", sans-serif;
    position: relative;
    color: #666666;
}

blockquote span {
    position: absolute;
    top: -15px;
    right: 24px;
    font-size: 90px;
    font-weight: 700;
    color: #ff4769;
    opacity: 0.15;
    z-index: 1;
    font-family: "Muli", sans-serif;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    background-image: url(images/4.svg);
    background-size: cover;
}

.timeline-box {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.7s cubic-bezier(.25, .8, .25, 1);
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: grey;
    width: 315px;
    height: 215px;
    justify-content: center;
    align-items: center;
}

.timeline-details {
    color: #666666;
    font-family: "Muli", sans-serif;
    text-align: justify;
    font-size: 18px;
    margin: 0;
    padding: 2% 5%;
}

.timeline-box span {
    position: absolute;
    top: -8px;
    right: 24px;
    font-size: 70px;
    font-weight: 700;
    color: #ff4769;
    opacity: 0.15;
    font-family: "Muli", sans-serif;
}

.timeline-box:hover,
.timeline-box:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(-2px);
}

.footer {
    margin: 0 auto;
    text-align: center;
    padding: 20px 5%;
}

a {
    color: #666666;
}

@media (max-width: 1180px) {
    section-container {
        display: block;
    }

    .second-section {
        display: none;
    }
}

@media (max-width: 832px) {
    .intro-container {
        display: inline;
    }

    .intro-img {
        float: left;
        padding: 5px 2% 0 3%;
    }
}

@media (max-width: 615px) {
    #title {
        margin: 0 auto;
        text-align: center;
    }

    #title:before {
        display: none;
    }

    #title:after {
        display: none;
    }

    .intro-img {
        width: 55%;
    }
}

@media (max-width: 500px) {

    #title {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    .title {
        font-size: 90px;
    }

    p {
        padding: 0 15px;
    }

    blockquote {
        padding: 20px;
    }

    .timeline .timeline-box {
        width: auto;
        height: auto;
    }
}