.timeline {
    margin: auto;
    padding: 20px 0 50px 0;
    background-image: linear-gradient(to right top, #f0f0f0, #f4f4f4, #f7f7f7, #fbfbfb, #ffffff);

    &__items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        padding: 0;
        list-style: none;
        justify-content: center;
        background-size: cover;
        max-width: 1200px;
    }
}